<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{368,328}</string>
                <key>spriteSourceSize</key>
                <string>{368,332}</string>
                <key>textureRect</key>
                <string>{{686,327},{368,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{372,412}</string>
                <key>spriteSourceSize</key>
                <string>{384,412}</string>
                <key>textureRect</key>
                <string>{{1,343},{372,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{427,324}</string>
                <key>spriteSourceSize</key>
                <string>{427,324}</string>
                <key>textureRect</key>
                <string>{{460,1},{427,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,309}</string>
                <key>spriteSourceSize</key>
                <string>{377,309}</string>
                <key>textureRect</key>
                <string>{{375,343},{377,309}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,6}</string>
                <key>spriteSize</key>
                <string>{457,340}</string>
                <key>spriteSourceSize</key>
                <string>{499,352}</string>
                <key>textureRect</key>
                <string>{{1,1},{457,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,246}</string>
                <key>spriteSourceSize</key>
                <string>{288,246}</string>
                <key>textureRect</key>
                <string>{{753,697},{288,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,219}</string>
                <key>spriteSourceSize</key>
                <string>{249,219}</string>
                <key>textureRect</key>
                <string>{{245,757},{249,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,242}</string>
                <key>spriteSourceSize</key>
                <string>{235,242}</string>
                <key>textureRect</key>
                <string>{{1,757},{235,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,258}</string>
                <key>spriteSourceSize</key>
                <string>{255,258}</string>
                <key>textureRect</key>
                <string>{{496,722},{255,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pet_S1.png</string>
            <key>size</key>
            <string>{1015,993}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56053cdacd062cf3cfb6dbf924d171cf:c77f8756a6cda741b165bc7695f05b55:4eed0dcf36f90bedb954891f185d4cf9$</string>
            <key>textureFileName</key>
            <string>pet_S1.png</string>
        </dict>
    </dict>
</plist>
