<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>burn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{573,571}</string>
                <key>spriteSourceSize</key>
                <string>{573,571}</string>
                <key>textureRect</key>
                <string>{{0,0},{573,571}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exhausted.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{573,571}</string>
                <key>spriteSourceSize</key>
                <string>{573,571}</string>
                <key>textureRect</key>
                <string>{{573,0},{573,571}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{573,571}</string>
                <key>spriteSourceSize</key>
                <string>{573,571}</string>
                <key>textureRect</key>
                <string>{{1146,0},{573,571}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{573,571}</string>
                <key>spriteSourceSize</key>
                <string>{573,571}</string>
                <key>textureRect</key>
                <string>{{0,571},{573,571}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>froze.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{573,571}</string>
                <key>spriteSourceSize</key>
                <string>{573,571}</string>
                <key>textureRect</key>
                <string>{{573,571},{573,571}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frozen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{573,571}</string>
                <key>spriteSourceSize</key>
                <string>{573,571}</string>
                <key>textureRect</key>
                <string>{{1146,571},{573,571}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hypnosis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{573,571}</string>
                <key>spriteSourceSize</key>
                <string>{573,571}</string>
                <key>textureRect</key>
                <string>{{0,1142},{573,571}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{573,571}</string>
                <key>spriteSourceSize</key>
                <string>{573,571}</string>
                <key>textureRect</key>
                <string>{{573,1142},{573,571}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poison.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{573,571}</string>
                <key>spriteSourceSize</key>
                <string>{573,571}</string>
                <key>textureRect</key>
                <string>{{1146,1142},{573,571}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>abnormal.png</string>
            <key>size</key>
            <string>{1719,1713}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fe26c43d75e872c6ac38e7c93e7d352:49bab3b8a2be3e23be70ea727c905810:097b66f382917abe28ef5a042e207773$</string>
            <key>textureFileName</key>
            <string>abnormal.png</string>
        </dict>
    </dict>
</plist>
