<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tip_burn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{809,286}</string>
                <key>spriteSourceSize</key>
                <string>{809,286}</string>
                <key>textureRect</key>
                <string>{{0,0},{809,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tip_exhausted.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{809,286}</string>
                <key>spriteSourceSize</key>
                <string>{809,286}</string>
                <key>textureRect</key>
                <string>{{809,0},{809,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tip_fear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{809,286}</string>
                <key>spriteSourceSize</key>
                <string>{809,286}</string>
                <key>textureRect</key>
                <string>{{0,286},{809,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tip_firing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{809,286}</string>
                <key>spriteSourceSize</key>
                <string>{809,286}</string>
                <key>textureRect</key>
                <string>{{809,286},{809,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tip_froze.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{809,286}</string>
                <key>spriteSourceSize</key>
                <string>{809,286}</string>
                <key>textureRect</key>
                <string>{{0,572},{809,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tip_hypnosis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{809,286}</string>
                <key>spriteSourceSize</key>
                <string>{809,286}</string>
                <key>textureRect</key>
                <string>{{809,572},{809,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tip_numb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{809,286}</string>
                <key>spriteSourceSize</key>
                <string>{809,286}</string>
                <key>textureRect</key>
                <string>{{0,858},{809,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tip_poison.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{809,286}</string>
                <key>spriteSourceSize</key>
                <string>{809,286}</string>
                <key>textureRect</key>
                <string>{{809,858},{809,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tip_abnormal.png</string>
            <key>size</key>
            <string>{1618,1144}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ec59ff11b3c14709f37e5ecec39622e:fedd975b1b356bf6300221515db1f29a:1971eb81e21c28b37a5c468501054264$</string>
            <key>textureFileName</key>
            <string>tip_abnormal.png</string>
        </dict>
    </dict>
</plist>
